name: Test release

on:
  release:
    types: [published]

  workflow_dispatch:

env:
  BUILTIN_PYTHON_VERSION: 3.12.12

jobs:
  test_published:
    runs-on: ${{ matrix.platform }}

    strategy:
      matrix:
        platform:
          - ubuntu-22.04
          - ubuntu-24.04
          - ubuntu-22.04-arm
          - windows-2022
          - windows-2025
          - windows-11-arm
          - macos-14
          - macos-15
          - macos-15-intel
        node-version: [18.x, 20.x, 22.x, 24.x]
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]
        exclude:
          - platform: ubuntu-24.04
            python-version: "3.8"
          - platform: windows-11-arm
            node-version: 18.x
          - platform: windows-11-arm
            python-version: "3.8"
          - platform: windows-11-arm
            python-version: "3.9"
          - platform: windows-11-arm
            python-version: "3.10"

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - run: npm install --ignore-scripts
      - run: npx @mapbox/node-pre-gyp install
      - run: node ./scripts/pympip install --upgrade pip
      - run: node ./scripts/pympip install -r test/requirements.txt
      - name: Run unit tests
        run: npm test
